 /* Time-stamp: <02/12/17 12:32:48 ptr> */
 /* $Id$ */

.nodecor a:link {
  text-decoration: none;
  color: grey40;
}

.nodecor a:visited {
  text-decoration: none;
  color: grey50;
}

.nodecor a.nodecor:active {
  text-decoration: none;
  color: black;
}

.nodecor a:hover {
  text-decoration: none;
  color: grey65;
}

div.warning {
  border:  1px solid red;
  /* color:   red; */
  padding-left: 2em;
  padding-right: 2em;
}
