 /* Time-stamp: <02/12/16 23:01:07 ptr> */
 /* $Id$ */

.nodecor a:link {
  text-decoration: none;
  color: DarkOrange;
}

.nodecor a:visited {
  text-decoration: none;
  color: goldenrod2;
}

.nodecor a.nodecor:active {
  text-decoration: none;
  color: goldenrod2;
}

.nodecor a:hover {
  text-decoration: none;
  color: goldenrod2;
}

.im {
  background-image:      url(img/jpg/foldR1-2.jpg);
  background-repeat:     repeat-y;
  /* background-attachment: fixed; */
}

