 /* Time-stamp: <02/10/15 23:50:46 ptr> */
 /* $Id$ */

div.inline {
  display: inline;
}

div.leftfloat {
  float: left;
}

div.rightfloat {
  float: right;
}

div.br {
  vertical-align: bottom;
  text-align: right;
}

div.toc {
  width: 24% !important;
  /* min-width: 140px !important; */
}

div.general {
  width: 67%;
  min-height: 80%;
  padding-top: 1cm;
  padding-left: 100px;
  padding-right: 1cm;
  padding-bottom: 1cm;
  margin-right: 20px;
}

div.mr20px {
  margin-right: 20px;
}

div.border-trb {
  border-top:    5px solid #ccc;
  border-right:  5px solid #ccc;
  border-bottom: 5px solid #ccc;
}

div.border-t {
  border-top:    5px solid #ccc;
}

div.toc-spacer {
  clear:      none;
  margin:     10px;
  display:    block;
  /* text-align: right; */
}

.im {
  background-image:      url(img/jpg/foldR1-2.jpg);
  background-repeat:     repeat-y;
  /* background-attachment: fixed; */
}

div.spacer {
  clear:      both;
}

.l-container {
  /* padding-left: 10%; */
  text-align:  left;
}


