 /* Time-stamp: <02/12/16 23:24:43 ptr> */
 /* $Id$ */

body {
  color: black;
  background-color: #ffffff;
  /* font: 12pt Sans-Serif, Arial, Helvetica; */
  /* font-family:    sans-serif, Arial, Helvetica; */
  font-size:      12pt;
  font-family:    sans-serif, Arial, Helvetica;
  padding-left:   0in;
  padding-top:    0in;
  padding-right:  0in;
  padding-bottom: 0in;
}

/*
p {
  font-family: sans-serif, Arial, Helvetica;
  font-size: 12pt;
}
*/

h1 {
  font-size: 144%;
  font-weight: bold;
}

h2 {
  font-size: 120%;
  font-weight: bold;
}

h3 {
  font-size: 14pt;
  font-style: italic;
  font-family: sans-serif, Arial, Helvetica;
}

dl dd {
  left-margin: 20;
}

dl dt {
  font-weight: bold;
}

/*
ul li {
  font-family: sans-serif, Arial, Helvetica;
  font-size: 12pt;
}
*/

body table tr th {
  font-family: sans-serif, Arial, Helvetica;
  font-weight: bold;
}

body table tr td {
  font-family: sans-serif, Arial, Helvetica;
  font-size: 12pt;
}

.ddisplay {
  padding-left:   3ex;
  padding-right:  3ex;
  padding-top:    3ex;
  padding-bottom: 3ex;
  color: #00ff44;
  background-color: black;
  font-size: 10pt;
  font-family: courier, monospace;
}

div.logo1 {
  position: absolute;
  left:     0px;
  width:    160px;
  height:   160px;
  padding-left: 20px;
  padding-top: 20px;
}

div.toc {
  position:  absolute;
  left:      0px;
  width:     160px;
  top:       160px;
  /* width: 24% !important; */
  /* min-width: 140px !important; */
}

div.toc-spacer {
  margin:     20px;
}

div.general {
  position: absolute;
  left: 160px;
  /* width: 67%; */
  min-height: 80% !important;
  padding-top: 1cm;
  padding-left: 100px;
  padding-right: 1cm;
  padding-bottom: 1cm;
  margin-right: 20px;
  border-top:    5px solid #ccc;
  border-right:  5px solid #ccc;
  border-bottom: 5px solid #ccc;
}

div.bm {
  margin-right: 20px;
  vertical-align: bottom;
  text-align: right;
}

div.border-t {
  border-top:    5px solid #ccc;
}

a:link {
  text-decoration: underline;
  color: DarkGoldenrod;
}

a:visited {
  text-decoration: underline;
  color: DarkGoldenrod;
}

a:active {
  text-decoration: underline;
  color: DarkGoldenrod;
}

a:hover {
  text-decoration: underline;
  color: DarkGoldenrod;
}

